.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  
  margin-top: 5rem;
}

/* display: grid;
  grid-template-columns: 16.42% 12.35% 12.35% 12.5% 12.5% 12.35% 8.28% 8.28%; 
  230px 173px 173px 175px 175px 173px 116px 116px
  grid-template-rows:  1fr .07fr .12fr .44fr .638fr;
	grid-gap: 2rem;
  grid-column-gap:.7%;
  left: 50%;
  margin:  100px;
	margin: 100px -50vw 0;
	position: relative;
	right: 50%;
	width: 100vw; */

.grid img {
  /* border-radius: 4px; */
  height: auto;
	width: 100%;
}

/* ITEM */

.modalDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

/* ITEM DETAILS */
.display {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  flex-direction: column;
  min-height: 100%;
}