.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  
  margin-top: 5rem;
}

/* display: grid;
  grid-template-columns: 16.42% 12.35% 12.35% 12.5% 12.5% 12.35% 8.28% 8.28%; 
  230px 173px 173px 175px 175px 173px 116px 116px
  grid-template-rows:  1fr .07fr .12fr .44fr .638fr;
	grid-gap: 2rem;
  grid-column-gap:.7%;
  left: 50%;
  margin:  100px;
	margin: 100px -50vw 0;
	position: relative;
	right: 50%;
	width: 100vw; */

.grid img {
  /* border-radius: 4px; */
  height: auto;
	width: 100%;
}

/* ITEM */

.modalDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

/* ITEM DETAILS */
.displayImage {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.displayImage  button {
  background: rgb(91, 91, 91) !important;
}

.displayDetails {
  display: flex;
  justify-content: flex-end;
  /* align-content: flex-end; */
  flex-direction: column;
  min-height: 100%;
}

.underlineText:hover {
  color: rgb(175, 175, 175);
  text-decoration: underline;
  border-radius: 10px;
}

/* TODO: slide animation for description details */
.slide {
  /* position: absolute; */
  /* top: -10px; */
  /* left: -100px;
  width: 100px;
  height: 100px;
  background: blue; */
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

