/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */


/* LIST */

/* 
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
  margin-top: 3rem;
} */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  
  margin-top: 5rem;
}

/* display: grid;
  grid-template-columns: 16.42% 12.35% 12.35% 12.5% 12.5% 12.35% 8.28% 8.28%; 
  230px 173px 173px 175px 175px 173px 116px 116px
  grid-template-rows:  1fr .07fr .12fr .44fr .638fr;
	grid-gap: 2rem;
  grid-column-gap:.7%;
  left: 50%;
  margin:  100px;
	margin: 100px -50vw 0;
	position: relative;
	right: 50%;
	width: 100vw; */

.grid img {
  /* border-radius: 4px; */
  height: auto;
	width: 100%;
}

/* ITEM */

.imgDisplay {
  margin: 2rem 6rem 1rem 6rem;
}


